.lineStyle {
    height: 1px;
    width:6rem; 
    background-color:white; 
    margin-top:2rem;
}
.aboutLine{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    color: white;
    padding-top: 7rem;
    padding-bottom: 4rem;
    font-size: 4rem;
    /* 4$dtu*Nkv9@HX68 */
}
.aboutDATA{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
}
.aboutPoints{
    margin-top: 2rem;
}
.containers{
    display: block;
    gap:1rem;
    margin-bottom: 1rem;
}
.aboutval{
    display: flex;
    gap: 0.2rem;
}
.descrip{
    margin-top: 6rem;
    margin-right: 4.3rem;
    margin-left: 5rem;
    font-size: 1.8rem;
    word-break: break-word;
    width:40rem;
}
.text{
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    font-size: 2rem;
}
.wrapper{
    padding-left: 5rem;
    padding-right: 5rem;
    height: 100%;
    width: max-content;
    background-color: #10263e;
    color: white;
}
.edu:hover{
    background-color: #1F4B7B;
}
.edu{
    background-color:#153252 ;
    width: 25rem;
    text-align: left;
    margin-left: 4rem;
    color: white;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.edu1{
    animation: slide-in-right 0.8s ease-in-out 1;
}
.edu2{
    animation: slide-in-left 1s ease-in-out 1;
}
.eduText{
    padding-top: 0.6rem;
    font-weight: 800;
    font-size: 1.8rem;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20rem; */
}
.interests{
    padding-top: 2rem;
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-900px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(250px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
@media screen and (min-width: 1024px) {
    .lineStyle {
        height: 1px;
        width:6rem; 
        background-color:white; 
        margin-top:1rem;
    }
    .eduText{
        font-weight: 800;
        font-size: 1rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .img{
        margin-left: 3rem;
    }
    .descrip{
        margin-top: 4rem;
        margin-right: 8rem;
        font-size: 1.2rem;
    }
    .wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 50rem;
        background-color: #10263e;
        color: white;
        width: 91.89rem;
    }
    .containers{
        display: flex;
        gap:4rem;
    }
    .aboutLine{
        display: flex;
        gap: 1.5rem;
        padding: 2rem;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        /* 4$dtu*Nkv9@HX68 */
    }
    .aboutval{
        display: flex;
        gap: 0.8rem;
    }
    .interests{
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.5rem;
    }
    .shadow-drop-2-center {
        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .edu{
        width: 20rem;
    }
    .edu1{
        animation: slide-in-right 1s ease-in-out 1;
    }
    .edu2{
        animation: slide-in-left 1s ease-in-out 1;
    }
    @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
    @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
}