.aboutLine{
    display: flex;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}
.exp:hover{
    background-color: #1F4B7B;
}
.exp{
    background-color:#153252; 
    color: white;
    padding: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.wrapper{
    padding-left: 4rem;
    padding-right: 4rem;
    height: 300vh;
    background-color: #10263e;
    width: 64.8rem;
}
.heading{
    color: limegreen;
    font-size: 1.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-family: "Raleway", sans-serif;
}
.midheading{
    font-family: "Raleway", sans-serif;
}
.subheading{
    font-style: italic;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.info{
    margin-bottom: 0.6rem;
   
}
.infoDiv{
    padding-left: 1.5rem;
}
@media screen and (min-width: 1024px) {
    .wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 50rem;
        background-color: #10263e;
        width: 91.89rem;
    }
}