.aboutLine{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    color: white;
    padding-top: 7rem;
    padding-bottom: 4rem;
    font-size: 4rem;
}
.lineStyle {
    height: 1px;
    width:6rem; 
    background-color:white; 
    margin-top:2rem;
}
.wrapper{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    height: 100%;
    background-color: #10263e;
    width: max-content;
}
.FilterButton button:hover{
    background-color: #1c7d32;
}
.FilterButton button{
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   border: none;
   padding: 0.6rem;
   font-size: 2rem;
   margin-right: 1rem;
}
.FilterButton{
    display: flex;
   align-items: center;
   justify-content: center;
}
.projects{
    padding: 4.2rem;
    color: white;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}
.info{
    font-size: 1.5rem;
}
.upperBorder{
position: absolute;
  top: 0;
  width: 400px;
  height: 200px; /* Adjust height of upper bar */
  background-color: rgb(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

  .project{
    position: relative;
    margin-bottom: 4rem;
  }
  .upperBorder::before, .upperBorder::after {
    content: ""; /* Required for the pseudo-elements to show */
    position: absolute;
    border: 3px solid white; /* Adjust the border color and width as needed */
}

.upperBorder::before {
    top: 10px;
    left: 10px;
    width: 15%; /* Adjust the length of the horizontal line */
    height: 30%; /* Adjust the length of the vertical line */
    border-right: none;
    border-bottom: none;
}

.upperBorder::after {
    right: 10px;
    bottom: 10px;
    width: 15%; /* Adjust the length of the horizontal line */
    height: 30%; /* Adjust the length of the vertical line */
    border-left: none;
    border-top: none;
}
.modal{
    background-color: pink;
    padding: 4rem;
}
@media screen and (min-width: 1024px) {
    .FilterButton button{
        font-size: 1rem;
    }
    .aboutLine{
        display: flex;
        gap: 1.5rem;
        padding: 2rem;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    .wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 100%;
        background-color: #10263e;
        width: max-content;
    }
    .projects{
        padding: 2rem;
        color: white;
        width: 63.86rem;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap; /* Allow items to wrap onto the next line */
        justify-content: space-evenly; 
        align-items: center;
    }
    .project{
        position: relative;
      }
      .lineStyle {
        height: 1px;
        width:6rem; 
        background-color:white; 
        margin-top:1rem;
    }
}
