.aboutLine{
    display: flex;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}
.wrapper{
    padding-left: 4rem;
    padding-right: 4rem;
    height: 300vh;
    background-color: #10263e;
    width: 64.8rem;
}
.FilterButton button:hover{
    background-color: #1c7d32;
}
.FilterButton button{
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   border: none;
   padding: 0.6rem;
   font-size: 1rem;
   margin-right: 1rem;
}
.FilterButton{
    display: flex;
   align-items: center;
   justify-content: center;
}
.projects{
    padding: 4rem;
    color: white;
    margin-left: 10rem;
    /* display: flex;
    align-items: center;
  
    justify-content: center; 
    flex-direction: column; */
   
}
.info{
    font-size: 1.5rem;
}
.upperBorder{
    position: absolute;
  top: 0;
  width: 400px;
  height: 200px; /* Adjust height of upper bar */
  background-color: rgb(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

  .project{
    position: relative;
    margin-bottom: 4rem;
  }
  .upperBorder::before, .upperBorder::after {
    content: ""; /* Required for the pseudo-elements to show */
    position: absolute;
    border: 3px solid white; /* Adjust the border color and width as needed */
}

.upperBorder::before {
    top: 10px;
    left: 10px;
    width: 15%; /* Adjust the length of the horizontal line */
    height: 30%; /* Adjust the length of the vertical line */
    border-right: none;
    border-bottom: none;
}

.upperBorder::after {
    right: 10px;
    bottom: 10px;
    width: 15%; /* Adjust the length of the horizontal line */
    height: 30%; /* Adjust the length of the vertical line */
    border-left: none;
    border-top: none;
}
.modal{
    background-color: pink;
    padding: 4rem;
}
@media screen and (min-width: 1024px) {
    .wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 50rem;
        background-color: #10263e;
        width: 91.89rem;
    }
    .projects{
        padding: 2rem;
        color: white;
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap onto the next line */
        justify-content: space-evenly; 
    }
    .project{
        position: relative;
      }
}