/* @media screen and (min-width: 368px) { */
.wrap{
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 38.4rem;
    /* padding-top: 1rem; */
   background-color: #10263e;
   height: 100vh;
   width: max-content;
}

.socialIcons{
    /* padding-right: 1rem; */
    margin-right: 1rem;
    border: 2px solid #265085; /* Set border width and color */
    border-radius: 50%;
    background-color: white;
    /* margin:2px; */
    padding: 2.5px;
}
.resume{
    display: flex;
    gap: 0.2rem;
    font-weight: 600;
    background-color: black;
    width: 9.2rem;
    color: white;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 15px;
    /* font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif"; */
}
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
.outerResume{
    animation: shake-horizontal 1s ease-in-out 1;
    border-radius: 18px;
    width: 9.8rem;
    padding: 0.25rem;
    margin-top: 2rem;
    font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
@media screen and (min-width: 1024px) {
.wrap{
    padding-left: 5rem;
   background-color: #153252;
   height: 50vh;
   width: 85rem; 
   padding-top: 2rem;
    /* padding-left: 5rem; */
    padding-right: 77rem;
}
}
