.wrap{
    padding-left: 5rem;
    /* padding-top: 1rem; */
   background-color: #153252;
   height: 30.5rem;
}
.socialIcons{
    /* padding-right: 1rem; */
    margin-right: 1rem;
    border: 2px solid #265085; /* Set border width and color */
    border-radius: 50%;
    background-color: white;
    /* margin:2px; */
    padding: 2.5px;
}