.wrapper{
    padding-left: 4rem;
    padding-right: 4rem;
    height: 300vh;
    background-color: #10263e;
    width: 64.8rem;
}
.aboutLine{
    display: flex;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.edu{
    background-color:#153252 ;
    width: 37.5rem;
    text-align: left;
    margin-left: 4rem;
    color: white;
}
.edu:hover{
    background-color: #1F4B7B;
}
.eduData{
   padding-left: 2rem;
   /* padding-right: 2rem; */
   padding-bottom: 1rem;

}
.midheading{
    font-family: "Raleway", sans-serif;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    
}
.subheading{
    font-style: italic;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    /* margin-bottom: 0.8rem; */
}
.info{
    margin-bottom: 0.6rem;
}
.firstheading{
    word-wrap: break-word;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
}
@media screen and (min-width: 1024px) {
    .wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 50rem;
        background-color: #10263e;
        width: 91.89rem;
    }
}