.Details{
    border-bottom: 1px solid black;
    display :flex;
    padding: 1rem 3rem;
    font-size: 2rem;
}
.lineStyle {
    height: 1px;
    width:6rem; 
    background-color:white; 
    margin-top:2rem;
}
.wrapper{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgb(228, 219, 219);
    margin: 5rem;
    width: 39.5rem;
    background-color: white; animation: slide-in-right 1s ease-in-out 1;
}
.divWrapper{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 4.2rem;
    height: 100%;
    background-color: #10263e;
    width: max-content;
}
/* .heading{
    background-color: rgb(97, 127, 154);
    font-size: 4rem;
    padding: 1.5rem;
    color: white;
} */
.mainWrapper{
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
}
.subDetails{
    padding: 2rem 3rem;
    gap:2rem;
/*     margin-right: 1rem;  */
}
.aboutLine{
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    /* padding-right: 2rem; */
    font-size: 4rem;
    color: white;
    padding-top: 7rem;
    padding-bottom: 4rem;
}
.img{
    margin-right:2rem;
    margin-bottom: 2rem;
 }
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(900px);
              transform: translateX(200px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
@media screen and (min-width: 1024px) {
    .subDetails{
        padding: 0.8rem 3rem;
        gap:2rem;
        margin-right: 10px; 
    }
    .Details{
        border-bottom: 1px solid black;
        display :flex;
        padding: 1rem 3rem;
        font-size: 1rem;
    }
    .wrapper{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid rgb(228, 219, 219);
        margin: 1rem;
        width: 70rem;
        background-color: white;
        animation: slide-in-right 1s ease-in-out 1;
    }
    .divWrapper{     
        padding-left: 4rem;
        padding-right: 4rem;
        height: 50rem;
        background-color: #10263e;
        width: 91.89rem;
    }
    .aboutLine{
        display: flex;
        gap: 1.5rem;
        padding: 2rem;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        /* 4$dtu*Nkv9@HX68 */
    }
    .lineStyle {
        height: 1px;
        width:6rem; 
        background-color:white; 
        margin-top:1rem;
    }
    .img{
       margin-right:20px;
    }
}
