.Details{
    border-bottom: 1px solid black;
    display :flex;
    padding: 1rem 3rem;
}
.wrapper{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgb(228, 219, 219);
    margin: 1rem;
    width: 36rem;
    background-color: white;
}
.divWrapper{
    padding-left: 4rem;
    padding-right: 4rem;
    height: 300vh;
    background-color: #10263e;
    width: 64.8rem;
}
/* .heading{
    background-color: rgb(97, 127, 154);
    font-size: 4rem;
    padding: 1.5rem;
    color: white;
} */
.mainWrapper{
    display: flex;
      flex-direction: column;  justify-content: center; align-items: center;
}
.subDetails{
    padding: 0.8rem 3rem;
    gap:2rem;
    margin-right: 10px; 
}
.aboutLine{
    display: flex;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: white;
    padding-top: 1rem;
}
@media screen and (min-width: 1024px) {
    .wrapper{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid rgb(228, 219, 219);
        margin: 1rem;
        width: 70rem;
        background-color: white;
    }
    .divWrapper{
        padding-left: 4rem;
        padding-right: 4rem;
        height: 50rem;
        background-color: #10263e;
        width: 91.89rem;
    }
}